.map-page-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.data-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.data-box h1 {
  color: #0a889e;
  margin-bottom: 20px;
  text-align: center;
}

.map-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.map-containerH {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center the map */
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
